body {
    background-color: #b7e4f2;
    font-family: "Coves Bold";
  }

h1{
    font-family: "knuckle down";
}


.ficheperso {
 
    margin-left: 35%;
    display:flex;
    width: 400px;
    border: 2px inset rgb(0, 0, 0);
    box-shadow: 12px 12px 2px 1px #0000009c;
    background-color: rgb(245, 241, 189);
    padding: 0.5rem;

    flex-direction: column;

}

.prenom{

    font-size: 50px;
    color:#ff3333;
   text-align: left;
    font-weight:bold;
    font-family: "knuckle down";
    

    
}

.age{
    font-size: 20px;
}

.nomindien{
    font-family: "knuckle down";
font-size: 20px;
    color:#ff3333;
    text-align:left;

   
    
}
.funfact{
    text-align:center;
        font-style: italic;
}
.funfact h1{
 font-weight: bold;
    color:#ff3333;
}

.partihaut{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.partibas{
    text-align: justify;
}



